@using StrikingInvestigation.Utilities

<div class="boundarylabel" style="--leftpos: @boundaryLeftPos; --toppos: @boundaryTopPos;
        --width: @boundaryWidth; --height: @boundaryHeight">
</div>

<div class="audiobar" style="--leftpos: @barLeftPos; --toppos: @barTopPos; --width: @barWidth">
</div>

@if (TestSpec.DeviceLoad == DeviceLoad.High)
{
    @if (Screen.RunAnimation == true)
    {
        <div class="audiodotmove" style="--leftstartpos: @dotLeftStartPos; --leftendpos: @dotLeftEndPos;
            --toppos: @dotTopPos; --duration: @durationStr">
        </div>
    }
    else
    {
        <div class="audiodotinitial" style="--leftpos: @dotLeftStartPos; --toppos: @dotTopPos">
        </div>
    }
}
else
{
    @if (Screen.RunAnimation == true)
    {
        <div class="posabs" style="--leftpos: @msgLeftPos; --toppos: @msgTopPos">
            <i>Playing...</i>
        </div>
    }
    else
    {
        <div class="posabs" style="--leftpos: @msgLeftPos; --toppos: @msgTopPos">
            <i>Ready to play</i>
        </div>
    }
}
