@if (Blow.IsTestBell == true)
{
    <div @onmousedown="TestBellMouseDown"
            @onmousemove="TestBellMouseMove"
            class="bell"
            style="--borderwidth: @borderWidthStr;
            --color: @Blow.BellColor;
            --leftpos: @bellLeftPosStr;
            --toppos: @bellTopPosStr;
            --diameter: @diameterStr;
            --fontsize: @bellFontSizeStr;
            --paddingtop: @paddingTopStr">
        @Blow.Bell
    </div>
}
else
{
    <div class="bell"
            style="--borderwidth: @borderWidthStr;
            --color: @Blow.BellColor;
            --leftpos: @bellLeftPosStr;
            --toppos: @bellTopPosStr;
            --diameter: @diameterStr;
            --fontsize: @bellFontSizeStr;
            --paddingtop: @paddingTopStr">
        @Blow.Bell
    </div>
}

@if (TestSpec.ShowGaps == true && Blow.IsTestBell == false)
{
    <div class="gaplabel"
            style="--leftpos: @gapLabelLeftPosStr;
            --toppos: @gapLabelTopPosStr;
            --fontsize: @gapLabelFontSizeStr;
            --bgcolor: @bgColor">
        @gapStr
    </div>
}
