<!-- Boundary box row -->
<div class="posabs"
        style="--leftpos: @boundaryRowLeftPosStr;
        --toppos: @boundaryRowTopPosStr;
        z-index: -1">

    <!-- Box around test bell -->
    <div class="boundarylabelinline"
            style="display: inline-block;
            --width: @boundaryLabelWidthStr;
            --height: @boundaryLabelHeightStr">
    </div>
</div>

<!-- Alt gap label -->
@if (TestSpec.ShowGaps == true && Blow.AltGap != 0)
{
    <div class="posabs"
            style="--leftpos: @altGapLeftPosStr;
            --toppos: @altGapTopPosStr;
            font-size: @altGapLabelFontSizeStr">
        <div style="white-space: nowrap">
            Audio gap
        </div>

        <div style="padding-left: 7px">
            @altGapLabelStr
        </div>
    </div>
}

<!-- Gap minus button -->
<div class="posabs"
        style="--leftpos: @gapMinusLeftPosStr;
        --toppos: @gapMinusTopPosStr">
    <button class="btn btn-primary"
            @onclick="GapMinusClick"
            style="width: 75px"
            disabled="@TestSpec.ControlsDisabled">
        @gapMinusStr
    </button>
</div>

<!-- Current gap label -->
<div class="posabs"
        style="--leftpos: @gapCurrLeftPosStr;
            --toppos: @gapCurrTopPosStr;
            width: 50px;
            height: 38px;
            border: 1px solid black;
            border-radius: 4px;
            text-align: center;
            padding-top: 6px">
    <label>
        @Blow.GapStr
    </label>
</div>

<!-- Gap plus button -->
<div class="posabs"
    style="--leftpos: @gapPlusLeftPosStr;
    --toppos: @gapPlusTopPosStr">
    <button class="btn btn-primary"
            @onclick="GapPlusClick"
            style="width: 75px"
            disabled="@TestSpec.ControlsDisabled">
        @gapPlusStr
    </button>
</div>

<!-- Play button -->
<div class="posabs"
        style="--leftpos: @playLeftPosStr;
        --toppos: @playTopPosStr">
    <div style="display: inline-block">
        <button class="btn btn-primary"
                @onclick="PlayClick"
                style="width: 75px"
                disabled="@Screen.PlayDisabled">
            @Screen.PlayLabel
        </button>
    </div>

    <!-- Play spinner -->
    @if (Screen.SpinnerPlaying == true)
    {
        <div class="spinnerinline"
                style="display: inline-block;
                vertical-align: top;
                margin-left: 12px;
                margin-top: 7px;
                --borderwidth: 5px;
                --width: 24px;
                --height: 24px">
        </div>
    }
</div>
