<!-- Submit row -->
<div class="posabs"
     style="--leftpos: @leftPosStr;
        --toppos: @topPosStr">

    <!-- Message -->
    <div>
        Play the two blocks above and then click one of these 3 buttons:
    </div>

    <div>
        <!-- A has errors -->
        <div style="display: inline-block;
                margin-right: 7px;
                margin-top: 7px">
            <button class="btn btn-primary"
                    @onclick="AHasErrors"
                    style="width: 120px"
                    disabled="@TestSpec.ControlsDisabled">
                @TestSpec.SubmitLabel1
            </button>
        </div>

        @if (TestSpec.SpinnerSubmitting1 == true)
        {
            <div class="spinnerinline"
                 style="display: inline-block;
                    vertical-align: top;
                    margin-left: 5px;
                    margin-right: 12px;
                    margin-top: 14px;
                    --borderwidth: 5px;
                    --width: 24px;
                    --height: 24px">
            </div>
        }

        @if (TestSpec.Submitted1 == true)
        {
            <div style="display: inline-block;
                    vertical-align: top;
                    margin-left: 5px;
                    margin-right: 12px;
                    margin-top: 14px">
                Submitted
            </div>
        }

        <!-- B has errors -->
        <div style="display: inline-block;
                margin-right: 7px;
                margin-top: 7px">
            <button class="btn btn-primary"
                    @onclick="BHasErrors"
                    style="width: 120px"
                    disabled="@TestSpec.ControlsDisabled">
                @TestSpec.SubmitLabel2
            </button>
        </div>

        @if (TestSpec.SpinnerSubmitting2 == true)
        {
            <div class="spinnerinline"
                 style="display: inline-block;
                    vertical-align: top;
                    margin-left: 5px;
                    margin-right: 12px;
                    margin-top: 14px;
                    --borderwidth: 5px;
                    --width: 24px;
                    --height: 24px">
            </div>
        }

        @if (TestSpec.Submitted2 == true)
        {
            <div style="display: inline-block;
                    vertical-align: top;
                    margin-left: 5px;
                    margin-right: 12px;
                    margin-top: 14px">
                Submitted
            </div>
        }

        <!-- Start a new row on smaller screens -->
        @if (TestSpec.BrowserWidth < 768)
        {
            <div>
            </div>
        }

        <!-- Don't know -->
        <div style="display: inline-block;
                margin-top: 7px">
            <button class="btn btn-primary"
                    @onclick="DontKnow"
                    style="width: 220px"
                    disabled="@TestSpec.ControlsDisabled">
                @TestSpec.SubmitLabel3
            </button>
        </div>

        @if (TestSpec.SpinnerSubmitting3 == true)
        {
            <div class="spinnerinline"
                 style="display: inline-block;
                    vertical-align: top;
                    margin-left: 12px;
                    margin-top: 14px;
                    --borderwidth: 5px;
                    --width: 24px;
                    --height: 24px">
            </div>
        }

        @if (TestSpec.Submitted3 == true)
        {
            <div style="display: inline-block;
                    vertical-align: top;
                    margin-left: 12px;
                    margin-top: 14px">
                Submitted
            </div>
        }
    </div>

    <!-- Result sound -->
    @if (TestSpec.ResultSound == true)
    {
        <audio id="sound" autoplay>
            <source src="@TestSpec.ResultSource" />
        </audio>
    }
</div>


